/****** article.html *****/
body{
  font-family: Verdana;
}

article{
  width: 800px;
}

article header h1{
  color: green;
}

article header p{
  background-color: red;
  color: white;
}

article figure{
  width: 600px;
  border: 3px solid black;
  padding: 5px;
}

article figure img{
  width: 100%;
}
/***** menu.html *****/
nav ul{
  background-color: PaleVioletRed;
  list-style: none;
  padding: 0;
  width: 200px;
  border: 1px solid MediumVioletRed;
}

nav ul li{
  border-bottom: 1px solid MediumVioletRed;
  padding: 5px;
}

nav ul li:last-child{
  border-bottom: 0;
}

nav ul li a{
  color: white;
  text-decoration: none;
}

nav ul li a:hover{
  text-decoration: underline;
}

/***** using class instead tag *****/
.site-nav{
  background-color: PaleVioletRed;
  list-style: none;
  padding: 0;
  width: 200px;
  border: 1px solid MediumVioletRed;
}

.site-nav .site-nav-item{
  border-bottom: 1px solid MediumVioletRed;
  padding: 5px;
}

.site-nav .site-nav-item:last-child{
  border-bottom: 0;
}

.site-nav .site-nav-item a{
  color: white;
  text-decoration: none;
}

.site-nav .site-nav-item a:hover{
  text-decoration: underline;
}

/***** form.html *****/
input[type="text"],
input[type="email"]{
  border: 1px solid blue;
}

/****** layout.html ****/

.main-container{
  /*max-width: 960px;*/
  margin: auto;
}

.site-menu,
.sidebar{
  width: 20%;
}

.main-content{
  width: 60%;
  background-color: LightPink;
}

.site-menu{
  background-color: LightGoldenrodYellow;
}

.sidebar{
  background-color: LightSteelBlue;
}

.site-menu,
.main-content,
.sidebar{
  float: left;
}
